@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model IEnumerable<MLBFantasy.Models.DailyPlayerStats>

@foreach(var player in Model)
{
    <ul>
        <li>player.RunsBattedIn</li>
    </ul>

}




