<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <!--
    Configure your application settings in appsettings.json. Learn more at http://go.microsoft.com/fwlink/?LinkId=786380
  -->
 <configSections>
    <section name="fantasyData" type="FantasyData.Configuration.FantasyDataSubscriptionRetrieverSection, FantasyData"/>
  </configSections>
  <system.webServer>
    <handlers>
      <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModule" resourceType="Unspecified"/>
    </handlers>
    <aspNetCore processPath="%LAUNCHER_PATH%" arguments="%LAUNCHER_ARGS%" stdoutLogEnabled="false" stdoutLogFile=".\logs\stdout" forwardWindowsAuthToken="false"/>
  </system.webServer>
<fantasyData defaultSubscription="MLB">
    <subscriptions>
      <add name="MLB" baseUrl="http://api.nfldata.apiphany.com/mlb/v2/" primarySubscriptionKey="4acbaded76264e5aa3168c215df197e4" secondarySubscriptionKey="439ef11212234b0c9dda0fea6ad8fff7"/>
    </subscriptions>
</fantasyData>
</configuration>
